# Ignore everything
**

# Whitelist only what we want in the final package
!assets/pants-logo.svg
!assets/pants-logo-square.png
!dist/main.js
!schemas/lift.schema.json
!schemas/lift.toml.json
!syntaxes/language-configuration.json
!syntaxes/pantsbuild.tmLanguage.json
!CHANGELOG.md
!LICENSE
!package.json
!README.md
